<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Enfermedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Enfermedades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let enf of enfermedades">
    <ion-card-header>
      <ion-card-title>{{ enf.titulo }}</ion-card-title>
      <ion-card-subtitle color="primary">
        Diagnosticado el {{ enf.fechaStr }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>ID enfermedad:</strong> {{ enf.id }}</p>
      <p><strong>Notas:</strong> 
        No hay notas registradas para esta enfermedad.
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>