<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Intervenciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Intervenciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Apendicitis</ion-card-title>
      <ion-card-subtitle>25-06-2015</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Intervención de apendisectomía realizada en el Hospital Clínico UC.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Remoción Amigdalas</ion-card-title>
      <ion-card-subtitle>17-03-2005</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Intervención de amigdalectomía realizada en el hospital Joaquín Aguirre.
    </ion-card-content>
  </ion-card>
</ion-content>