ion-toolbar {
  --background: linear-gradient(135deg, #fddb92, #d1fdff);
  --color: #fff;
}

@media (prefers-color-scheme: dark) {
  ion-toolbar {
    --background: linear-gradient(135deg, #2b5876, #4e4376);
    --color: #ffffff;
  }
}